html{
	_overflow: hidden;
}
body{
	background:url(../img/bg.jpg) no-repeat 0 0;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	height: 900px;
	
}

.back{
	width: 30px;
	background: #f7f7f7;
	border-radius: 5px;
	font-size: 16px;
	text-align: center;
	color: #2bb8aa;
	position: fixed;
	right: 20px;
	bottom: 40px;
	cursor: pointer;
	display: none;
}