
header{
	width: 100%;
	height: 50px;
	background: #000;
	opacity: 0;
	filter: alpha(opacity:0);
	position: fixed;
	top: -50px;
	left: 0;
}
.head-l{
	float: left;
	font-size: 24px;
	color: #fff;
	line-height: 50px;
	margin-left: 50px;
	padding: 0 5px;
}
.head-r{
	float: right;
	font-size: 16px;
	line-height: 48px;
	margin-top: 1px;
	overflow: hidden;
}
.head-r li{
	float: left;
	width: 111px;
	height: 48px;
	text-align: center;
	background: url(../img/header/s_03.jpg) repeat 0 0;
	position: relative;
}
.head-r li a{	
	width: 111px;
	height: 48px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}
.head-r li span{
	width: 111px;
	height: 48px;
	background: url(../img/header/w_03.jpg) repeat 0 0;
	position: absolute;
	left: 0;
	top: -48px;
}































