body{
	background: url(../img/opus/img1.gif) repeat 0 0;
	font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
}

header{
	width: 720px;
	height: 100px;
	margin: 20px auto;
	padding: 20px;
	background: url(../img/opus/img8.gif) no-repeat left bottom #5BCE9E;
}
header h1{
	font-size: 20px;
}
header h2{
	font-size: 16px;
	color: #704B3A;
	float: right;
	margin: 0 10px;
}
header ul{
	float: right;
	font-size: 14px;
}
header ul li{
	float: left;
	margin: 0 10px;
	padding: 4px;
	background: url(../img/opus/img10.gif) no-repeat left bottom;
}

article{
	width: 720px;
	margin: 20px auto;
}
.opus-list{
	width: 468px;
	-margin: 10px auto;
	position: relative;
}
.taobao-pro{
	width: 460px;
	height: 265px;
	display: block;
	border: 3px solid #b2aeae;
	position: relative;
}
.taobao-pro img{
	vertical-align: top;
}
.taobao-pro div{	
	width: 460px;
	height: 265px;
	background: #000;
	opacity: 0.8;
	filter: alpha(opacity:80);
	position: absolute;
	left: 0;
	top: 0;
	font-size: 30px;
	text-align: center;
	line-height: 265px;
	display: none;
}
.taobao-pro div p{
	-width: 300px;
	width: 0px;
	height: 3px;
	background: #ff0;
	position: absolute;
}
.borderc1{
	left: 0;
	top: 100px;	
}
.borderc2{
	right: 0;
	top: 160px;	
}
.border1{
	width: 3px;
	-height: 271px;
	height: 0;
	background: #f00;
	position: absolute;
}
.borderl{
	top: 0;	
	left: 0;
}
.borderr{
	top: 271px;
	left: 463px;
}
.border2{
	-width: 466px;
	width: 0px;
	height: 3px;
	background: #f00;
	position: absolute;	
}
.bordert{	
	left: 466px;
	top: 0;
}
.borderb{
	left: 0;
	top: 268px;
}


























































