*{
	margin: 0;
	padding: 0
}
ol li,ul li{
	list-style: none;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
.clearfix{zoom:1;}
.play{
	width: 470px;
	height: 150px;
	border: 1px solid #000;
	margin: 50px auto;
	position: relative;
	overflow: hidden;
}
ol{
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 1;
}
ol li{
	width: 20px;
	height: 20px;
	background: #fff;
	border: 1px solid #000;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	float: left;
	margin: 2px;
}
ol .active{
	background: #f40;
	font-size: 15px;
}
ul{	
	position: absolute;
	left: 0;
	top: 0;
}
ul li{
	width: 470px;
	height: 150px;
}


















